@model MVCPro.Models.TimeVM

@{
    ViewData["Title"] = "CreateTimeVM";
}

<h2>CreateTimeVM</h2>

<h4>TimeVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTimeVM">
            <select asp-for="TimeFrom"
                    asp-items="@(new SelectList(Model.SelectableTimes,"Value", "Label" , Model.TimeFrom))"></select>


            <select asp-for="TimeFrom"
                    asp-items="@(new SelectList(Model.SelectableTimes1, "00:15"))"></select>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

