@model MVCPro.Models.MVCModel

@{
    ViewData["Title"] = "Update";
}

<h2>Update</h2>

<h4>MVCModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoInvoAb" class="control-label"></label>
                <input asp-for="NoInvoAb" class="form-control" />
                <span asp-validation-for="NoInvoAb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            @Html.HiddenFor(m => m.CreationDate)
            @Html.EditorFor(m => m.CreationDate)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

