@model string;
@{
    ViewData["Title"] = "Default";
}

<h2>Default</h2>

This is @Model

<a asp-controller="Account" asp-action="Signup" asp-route-xxx="xxx" asp-route-returnUrl="/">Sign Up In ViewComponent</a>
