@{
    ViewData["Title"] = "About";
    Layout = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div class="item-1">
    Hello &nbsp;
    World &
</div>
